// Variables
$bg: #1E1E28;
$bgSecondary: #1B1923;
$bgSecondaryAlt: #15121C;
$fg: #D7DAE0;
$watermelon: #ff4757;

$red: #E28C8C;
$blue: #A4B9EF;
$blue-desaturated: #A4B9EF;
$magenta: #C6AAE8;
$green: #C6AAE8;
$yellow: #C6AAE8;
$accent: $blue;

* {
    all: unset;
}

window {
    color: $fg;
    font-family: "VictorMono Nerd Font";
}

button:hover {
    color: $accent;
}

// Custom classes
.outer-window {
    background-color: $bgSecondary;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.line {
    background-color: $bgSecondaryAlt;
    border-radius: 10px;
}

.profile, .layout-manager, .system-manager, .music-player {
    border-radius: 10px;
}

// Profile
.profile {
    /* background-color: $bgSecondaryAlt; */

    
    .pfp {
        background-image: url("./assets/avatar.png");
        background-size: 100%;
        border-radius: 100%;

        margin: 5px 107px;
    }

    .text {
        margin: 20px -20px;

        .welcome, .username {
            font-size: 20px;
            font-style: italic;
        }
        
        .username {
            font-size: 24px;
            color: $blue-desaturated;
        }    
    } 
}

// Layout Manager
.layout-manager {
    .layout-btn button {
        border-radius: 10px;

        font-family: "Material Icons";
        font-size: 30px;
        margin: 36px;
    }
}

// System Manager
.system-manager {
    background-color: $bgSecondaryAlt;
    padding: 0px 12px;

    .system-info {
        .labels {
            margin: 0px;

            font-size: 18px;
        }
        .progress {
            margin-bottom: -36px;

            .progress-ram circular-progress {
                background-color: $bgSecondary;
                color: $yellow;
            }

            .progress-volume circular-progress {
                background-color: $bgSecondary;
                color: $green;
            }

            .progress-brightness circular-progress {
                background-color: $bgSecondary;
                color: $magenta;
            }
        }
    }

    circular-progress {
        margin: 0px 24px 0px 24px;
    }

}

// Music Player
.music-player {
    background-color: $bgSecondaryAlt;
    padding: 10px 0px 20px 0px;

    .song-art {
        background-size: 85px;
        border-radius: 6px;
    
        margin: 15px 40px 0px 30px;
    }
    
    .song-info {
        font-size: 16px;
        font-weight: bold;

        margin: 20px 20px 0px -35px;
    
        .song-title {
            color: $magenta;
            font-size: 14px;
        }

        .song-artist {
            margin-top: -20px;

            color: $green;
            font-size: 12px;
        }
        
        .song-controls button {
            font-family: "Material Icons";    
            font-size: 18px;    
            margin-top: -10px;
            margin-left: -5px;
        }
    }
}

// Lock Screen
.lock-notice {
    background-color: $bgSecondaryAlt;
    border-radius: 10px;
    margin: 10px 60px 0px 60px;

    .lock-header-text {
        font-size: 16px;
        font-style: italic;
        color: $watermelon;    
    }

    .lock-body-text {
        font-size: 14px;
        color: $fg;
    }
}

.lock-screen {
    background: $bgSecondaryAlt;
    border-radius: 10px;

    .lock-pfp {
        background-image: url("./assets/avatar.png");
        background-size: 80px;

        margin: 25px 40px 25px 35px;
        border-radius: 40px;
    }

    .lock-text {
        margin: 40px -20px 30px -70px;
        
        .lock-username {
            font-size: 24px;
            font-style: italic;
            color: $blue-desaturated;
        }

        .lock-hostname {
            font-size: 16px;
        }
    }
}

// Powermenu
.powermenu {
    background-color: $bgSecondary;
    border-radius: 10px;
    border-top-left-radius: 0px;

    button {
        background-color: $bgSecondaryAlt;
        border-radius: 10px;
    
        font-family: "Material Icons";
        font-size: 30px;

        margin: 10px;
        padding: 8px;
        padding-top: 10px;

        &:nth-child(1) {
            color: $red;
        }

        &:nth-child(2) {
            color: $yellow;
        }

        &:nth-child(3) {
            color: $magenta;
        }

        &:nth-child(4) {
            color: $green;
        }

        &:hover {
            color: $blue;
        }
    }
}
